# Swift Package Manager
.build/
.swiftpm/

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/xcode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Local configuration
raw-e_configuration.json